h1,
h2 {
  font-family: "Courier New", Courier, monospace;
}

img {
  border-radius: 50px;
}
.account {
  font-family: "Courier New", Courier, monospace;
  color: grey;
}
.arrow {
  font-weight: bold;
  color: turquoise;
  border-color: transparent;
}
* {
  box-sizing: border-box;
  border-color: transparent;
  background-color: transparent;
}
}
